body {
    background-color: #011F26;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    color: #66fbfb;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex: 1;
    align-self: stretch;
}

.header-wrapper {
    padding: 10px 30px;
    border: 2px solid #66fbfb; 
    border-radius: 20px;
    /* margin-right: auto; */
}
.edition {
    justify-self: end;
    align-self: flex-end;
    margin: 0;
    /* margin-left: auto; */
    padding: 0;
}

.edition-negative {
    color: #fff0;
}

h1 {
    font-size: 47px;
    padding: 3px 40px ;
    margin: 0;
}

/* ----------------------- GAME MAIN -------------------------------*/

.game-main {
    background-color: #02687326;
    border: 3px solid #047979;
    border-radius: 40px;
    margin: 20px;
    padding: 0 40px 40px 40px;
    flex: 1;
    align-self: stretch;
}

.round {
    font-size: 40px;
    margin: 20px ;
}

.round-human {
    background-color: #047979;
    color: #66fbfb;
}

.round-computer {
    background-color: #F2A007;
    color: #fff;
}

.play-area {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.play-area h2 {
    font-size: 40px;
    margin: 0;
}

.play-area p {
    font-size: 25px;
}


.play-area .human p {
    border: 3px solid #66fbfb;
    border-radius: 20px;
    color: #66fbfb;
    display: inline-block;
    margin: 15px;
    padding: 5px 25px;
}

.play-area .computer p {
    border: 3px solid #F2A007;
    border-radius: 20px;
    color: #F2A007;
    display: inline-block;
    margin: 15px;
    padding: 5px 25px;
}

.game-main .human, .game-main .computer {
    border: 2px solid #66fbfb;
    border-radius: 10px;
    flex: 1;
    padding: 20px;
    background-color: #011F26;
}

.game-main .computer {
    border: 2px solid #F2A007;
    color: #F2A007;
}

.human-selection-buttons button {
    padding: 10px;
    border: 2px solid #66fbfb;
    background-color: #047979;
    border-radius: 5px;
    margin: 10px;
    color: #66fbfb;
    font-size: 16px;
}

/* -------------------------- GAME SCORE ------------------------------------*/

.game-score {
    border: 2px solid #66fbfb;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.human-score {
    padding: 10px 0px 10px 50px;
}

.computer-score {
    padding: 10px 50px 10px 0px;

} 

.human-score h2, .computer-score h2 {
    padding: 0 20px;
    margin: 10px 50px 0 50px ;
    text-wrap: nowrap;
}

.human-score-text , .computer-score-text {
    font-size: 30px;
    margin: 10px 0;
}

.human-score {
    /* background-color: #02788569; */
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    flex: 1 1 0;
}

.computer-score {
    /* background-color: #f2a00749; */
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    color: #F2A007;
    flex: 1 1 0;
}

.game-history {
    border-bottom: 2px solid #fff;
    margin: 0;
    font-size: 30px;
}